body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde7c7;
    
}
button{
    background-color: #a7c957;
    border: 5px solid #6a994e;
    height: 10vh;
    width: 10vw;
    font-size: 46px;
    border-radius: 20px;
    min-height: 100px;
    min-width: 100px;
}
p{
    color: #386641;
    font-size: large;
    font-family: "lucida console";
}
.mainContainer{
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.buttonsContainer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}